{% extends 'nohome_base.html' %}
{% load static %}

{% block title %}Cart{% endblock title %}
{% block content %}
<div class="cart">
    <div class="container">
      <div class="card well mb-1" style="width: 100%">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-5 text-center"><strong>ITEMS :   <span id="items-count">{{order.get_items_count}}</span></strong></div>
              <div class="col-sm-5 text-center"><strong>TOTAL :   $ <span id="all-total">{{order.get_all_total}}</span></strong></div>
              {% if order.get_items_count %}
              <div class="col-sm-2"><a href="{% url 'cla:checkout' %}" class="btn btn-success">Checkout -></a></div>
              {% endif %}
            </div>
          </li>
        </ul>
      </div><br><br>
       <div class="row">
          <div class="col-md-12">
                <div class="titlepage">
                    <h2>Cart</h2>
                </div>
            </div>
        </div>
        <div class="card well mb-1" style="width: 100%">
            <div class="row g-3">
              <div class="col-md-12">
                <table class="table tabl table-light">
                  <thead class='text-center'>
                    <tr>
                      <th scope="col">Product</th>
                      <th scope="col">Item</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                      <th scope="col">Total</th>
                      <th scope="col">Cart</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for item in order_items %}
                      <form action="{% url 'cla:add_to_checkout' item.product.id %}" method="POST">
                        {% csrf_token %}
                          
                          
                              <tr class="card" id="card-{{item.product.id}}" style="width: 100%">
                                  <td scope="col"><div class="text-center"><img style="width:30%;" src="{{item.product.product_img.url}}" alt=""></div></td>
                                  <td scope="col"><div class="text-center">{{item.product.product_name}}</div></td>
                                  <td scope="col"><div class="text-center">
                                    <div class="row btn-group">
                                      <div data-action="add"  data-product="{{item.product.id}}" data-url="{% url 'cla:updateItem' %}" class="col-sm-2 btn btn-info text-center m-1 p-1 update-data add-btn"><strong>+</strong></div>
                                      <input class="col-sm-5 bg-light text-center m-1 border-light item-qty form-control" name="quantity" id="{{item.product.id}}"  value="{{item.quantity}}">
                                      <div data-action="remove" onclick=check()  data-product="{{item.product.id}}" data-url="{% url 'cla:updateItem' %}" class="col-sm-2 btn btn-info text-center m-1 p-1 update-data min-btn"><strong>-</strong></div>
                                    </div>
                                  </div></td>
                                  <td scope="col"><div class="text-center">${{item.product.product_price}}</div></td>

                                  <td scope="col"><div class="text-center">$ {{item.total_price}}</div></td>
                                  <td scope="col"><div class="btn-group">
                                    <input type="submit" class="btn btn-success" value="Buy">
                                    <button type="button" data-product="{{item.product.id}}" data-url="{% url 'cla:updateItem' %}" data-action="delete" class="btn btn-danger update-data"><p>Remove</p></button>
                                </div></td>
                                  <!-- <div class="col-sm-2"></div> -->
                                
                          </tr>
                          </div></form>
                

                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
</div>
        
        <br>
        
   </div>
</div>
{% endblock content %}
{% block script %}
  <script>
    var itemquantityid = document.getElementsByClassName('item-qty').id
    var itemQuantity = document.querySelector('.update-data')
    var card = document.querySelector('.card-d')
   function check(){}
      console.log('started')
       // itemQuantity.addEventListener('click',function(){
      console.log('clicked')
      if (itemquantityid.value <= 0){
        card.classList.add('d-none')
        console.log('hidden',itemQuantityId)
      }
        // })

    //  }
        
      
    
    
  </script>
{% endblock script %}
