{% extends 'nohome_base.html' %}
{% load static %}

{% block title %}Cart{% endblock title %}
{% block content %}
<div class="cart">
    <div class="container p-1">
      <div class="card well mb-1" style="width: 100%">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-5 text-center"><strong>ITEMS :   <span id="items-count">{{order.get_items_count}}</span></strong></div>
              <div class="col-sm-5 text-center"><strong>TOTAL :   $ <span id="all-total">{{order.get_all_total}}</span></strong></div>
              {% if order.get_items_count %}
              <div class="col-sm-2"><a href="{% url 'cla:checkout' %}" class="btn btn-success">Checkout -></a></div>
              {% endif %}
            </div>
          </li>
        </ul>
      </div><br><br>
       <div class="row">
          <div class="col-md-12">
                <div class="titlepage">
                    <h2>Cart</h2>
                </div>
            </div>
        </div>
        <br>
        {% if order_items %}
        {% for item in order_items %}
        <div class="card m-1 bg-light" id="card-{{item.product.id}}">
            <div class="row p-2">
                <div class="card-img bg-white m-auto col-lg-2 col-md-3 col-sm-4 " style="width:90%" >
                    <img class="bg-white d-block m-auto" src="{% static 'images/product{{item.product.id}}.png' %}" alt="{{item.product.product_name}}">
                </div>
                <div class="col">
<!--                   <form action="{% url 'cla:add_to_checkout' item.product.id %}" method="POST"> -->
<!--                     {% csrf_token %} -->
                      <div class="row">
                          <div class="col-sm-12">
                            <h5 class="card-header " >{{item.product.product_name}} | Product</h5>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-ls-3">$ {{item.product.product_price}}</div>
                        <div class="col-ls-">
                          <div class="btn-group">
                            <button data-action="add"  data-product="{{item.product.id}}" data-url="{% url 'cla:updateItem' %}" class="btn btn-info text-center align-center update-data add-btn"><strong>+</strong></button>
                            <input class="bg-light text-center m-1 border-light item-qty form-control p-0" name="quantity" id="{{item.product.id}}"  value="{{item.quantity}}">
                            <button data-action="remove" onclick=check()  data-product="{{item.product.id}}" data-url="{% url 'cla:updateItem' %}" class="btn btn-info text-center align-center update-data min-btn"><strong>-</strong></button>
                          </div>
                        </div>
                        <div class="col-ls-3 border-light">
                          $ {{item.total_price}}
                        </div>
                      </div>
                      <div class="row m-auto">
                        <div class="col-sm-12 text-center ">
                          <div class="btn-group">
                            <input type="submit" class="btn btn-success text-center align-center" value="Check">
                            <button data-product="{{item.product.id}}" data-url="{% url 'cla:updateItem' %}" data-action="delete" class="btn btn-danger update-data">Remove</button>
                          </div>
                        </div>
                      </div>
<!--                   </form> -->
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="card p-2">
          <div class="card-text m-auto">
            <h5 class="mr-3 d-inline-block"><strong>Cart found Empty</strong></h5>
            <a href="{% url 'cla:product' %}" class="btn btn-primary ml-3">Go for Shopping -></a>
          </div>
        </div>
        {% endif %}
        
<!--         <div class="card well mb-1" style="width: 100%">
             <div class="row g-3">
              <div class="col-md-12"> 
                <table class="table tabl table-light">
                  <thead class='text-center'>
                    <tr>
                      <th scope="col">Product</th>
                      <th scope="col">Item</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                      <th scope="col">Total</th>
                        <th scope="col">Cart</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <br>
                  <tbody>
                      {% for item in order_items %}
                      <div class='card' id="card-{{item.product.id}}" style="width: 100%">
                          <tr>
                              <form action="{% url 'cla:add_to_checkout' item.product.id %}" method="POST">
                              {% csrf_token %}
                                  <td scope="col"><div class="text-center"><img style="width:30%;" src="{{item.product.product_img.url}}" alt=""></div></td>
                                  <td scope="col"><div class="text-center">{{item.product.product_name}}</div></td>
                                  <td scope="col">
                                      <div class="btn-group text-center">
                                        <div data-action="add"  data-product="{{item.product.id}}" data-url="{% url 'cla:updateItem' %}" class="col-sm-2 btn btn-info text-center m-1 p-1 update-data add-btn"><strong>+</strong></div>
                                        <input class="bg-light text-center m-1 border-light item-qty form-control p-0" name="quantity" id="{{item.product.id}}"  value="{{item.quantity}}">
                                        <div data-action="remove" onclick=check()  data-product="{{item.product.id}}" data-url="{% url 'cla:updateItem' %}" class="col-sm-2 btn btn-info text-center m-1 p-1 update-data min-btn"><strong>-</strong></div>
                                      </div>
                                  </td>
                                  <td scope="col"><div class="text-center">${{item.product.product_price}}</div></td>
                                  <td scope="col"><div class="text-center">$ {{item.total_price}}</div></td>
                                  <td scope="col"><input type="submit" value="Buy"></td>
                                  <td scope="col"><button type="button" data-product="{{item.product.id}}" data-url="{% url 'cla:updateItem' %}" data-action="delete" class="btn btn-danger update-data" value="Remove"></td>
                              </form>
                          </tr>
                      </div>
                      {% endfor %}
                          
                          
                               <tr class="card" id="card-{{item.product.id}}" style="width: 100%">
                                  <td scope="col"><div class="text-center"><img style="width:30%;" src="{{item.product.product_img.url}}" alt=""></div></td>
                                  <td scope="col"><div class="text-center">{{item.product.product_name}}</div></td>
                                  <td scope="col"><div class="text-center">
                                    <div class="row btn-group">
                                      <div data-action="add"  data-product="{{item.product.id}}" data-url="{% url 'cla:updateItem' %}" class="col-sm-2 btn btn-info text-center m-1 p-1 update-data add-btn"><strong>+</strong></div>
                                      <input class="col-sm-5 bg-light text-center m-1 border-light item-qty form-control" name="quantity" id="{{item.product.id}}"  value="{{item.quantity}}">
                                      <div data-action="remove" onclick=check()  data-product="{{item.product.id}}" data-url="{% url 'cla:updateItem' %}" class="col-sm-2 btn btn-info text-center m-1 p-1 update-data min-btn"><strong>-</strong></div>
                                    </div>
                                  </div></td>
                                  
                                  <td scope="col"><div class="btn-group">
                                    <input type="submit" class="btn btn-success" value="Buy"></form>
                                    <button type="button" data-product="{{item.product.id}}" data-url="{% url 'cla:updateItem' %}" data-action="delete" class="btn btn-danger update-data"><p>Remove</p></button>
                                </div></td>
                                   <div class="col-sm-2"></div> 
                                
                          </tr>
                          
                

                      
                  </tbody>
                </table>
               </div>
            </div>
</div>
         -->
        <br>
        
   </div>
</div>
{% endblock content %}
{% block script %}
  <script>
    var itemquantityid = document.getElementsByClassName('item-qty').id
    var itemQuantity = document.querySelector('.update-data')
    var card = document.querySelector('.card-d')
   function check(){}
      console.log('started')
       // itemQuantity.addEventListener('click',function(){
      console.log('clicked')
      if (itemquantityid.value <= 0){
        card.classList.add('d-none')
        console.log('hidden',itemQuantityId)
      }
        // })

    //  }
        
      
    
    
  </script>
{% endblock script %}
