{% extends 'nohome_base.html' %}
{% load static %}
{% block title %} Contact {% endblock title %}
{% block content %}
<!--  contact -->
<div>{% if messages%}
   {% for message in messages %}
   <div class="container">
       <div class="alert alert-danger alert-dismissable fade show" role="alert">
           <strong>{{message}}</strong>
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
       </div>
   </div>
   {% endfor %}
   {% endif %}
   
</div>
<div class="contact">
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div class="titlepage">
            <h2>Contact Now</h2>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-10 offset-md-1">
         <form action="{% url 'cla:contact' %}" method="post" id="request" class="main_form">
            {% csrf_token %}
            <div class="row">
               <div class="col-md-12 ">
                  <input class="contactus" placeholder="Name" type="type" name="Name" required> 
               </div>
               <div class="col-md-12">
                  <input class="contactus" placeholder="Email" type="type" name="Email" required > 
               </div>
               <div class="col-md-12">
                  <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number" required>                          
               </div>
               <div class="col-md-12">
                  <textarea class="textarea" placeholder="Message" type="type" name="Message" required></textarea>
               </div>
               <div class="col-md-12">
                  <button type="submit" class="send_btn">Send</button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
</div>
<!-- end contact -->
{% endblock content %}