{% extends 'nohome_base.html' %}
{% load static %}
{% block title %} Product {% endblock title %}
{% block content %}
<!-- products -->
<div class="products">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage ">
               <h2 style="margin: auto;">Our Products</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="our_products">
               <div class="row">
                  {% if rand_product_list %}
                  {% for product in rand_product_list %}
                  <div class="col-md-4 margin_bottom1">
                     <div class="product_box">
                        <figure><img src="{{product.product_img.url}}" alt="#"/></figure>
                        <h3>{{product.product_name}}</h3>
                        <button data-action="add" data-url="{% url 'cla:updateItem' %}" data-product="{{product.id}}" style="width: 57%;" class="btn btn-primary update-data">+Add to Cart</button>
                        <a href="{% url 'cla:detail' product.id %}"><button class="btn btn-info"><i class="fa fa-expand"></i></button></a>
                     </div> <input type="hidden" id="all-total" value=""><input type="hidden" id="items-count" value=""><input type="hidden" id="card-2" value="">
                  </div>
                  {% endfor %}
                  {% endif %}
                  <div class="col-md-12">
                     <a class="read_more" href="#">See More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end products -->
{% endblock content %}